
.link {
    width: 5rem;
    height: 2rem;
    background-color: rgb(13, 13, 56);
    border-radius: 0.2rem;
}
.link a {
    display: block;
    padding: 0.3rem 0;
    color: #fff;
    text-decoration: none;
}
.table{
  width: 100%;
  border: 1px solid red;
}
.main{
    margin-left: 8%;
    margin-top: 2%;
    width: 100%;
    display: flex;
}